<div class="col-md-4 col-xl-4 my-2">
  <div class="card border-1 h-100">
    <a href="{{ this.url }}" >
      <img class="card-img-top p-3" src="{{ '/static/images/membership/logos/{}'.format(this.logo)|url }}" alt="{{ this.name }}">
    </a>
    <div class="card-body preamble">
        {{ this.body }}
    </div>
  </div>
</div>
